* {
  margin: 0;
  padding: 0;
}
header {
  background-color: #C8F0DB;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 90px;

}

.logo img {
  height: 150px;
  border-radius: 10px;

  box-sizing: border-box;

/* position: absolute; */
/* width: 498px;
height: 235px; */

background: url(PatrolCar.png);
mix-blend-mode: darken;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: 'Inter';
font-weight: 600;
font-size: 28px;
line-height: 77px;

color: #123D16;

/* border: 1px solid #000000; */
}

nav li {
  margin: 0 10px;
}

nav a {
  color: #123D16;
  text-decoration: none;
  font-family: 'Bellota Text', display;
}

.main-photo {
  background-image: url(police2.png);
  background-size: cover;
  background-position: center;
  height: calc(100vh - 70px); /* adjust height to fit header */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* add position property to make children position relative to parent */
}

.main-photo:before { /* use pseudo-element to create the overlay */
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4); /* add a semi-transparent black background */
  backdrop-filter: blur(5px); /* add blur effect to the background */
  opacity: 0.8; /* set the opacity of the background */
}

.overlay {
  color: #fff;
  text-align: center;
  padding: 50px;
  max-width: 800px;
  position: relative; /* add position property to make children position relative to parent */
  z-index: 1; /* add a higher z-index to place the overlay on top of the pseudo-element */
}

.services {
  text-align: center;
width: 100%;
height: 500px;
font-size: 100px;
background: #C8F0DB;
color: #2D4E30;
font-weight: 600;
}

.services-ps {
  margin-left: 50px;
  margin-top: 100px;
  display: flex;
  align-items:center;
}

#text {
width: 180px;
height: 60px;

font-family: 'Inter';
font-style: italic;
font-weight: 600;
font-size: 35px;

color: #123D16;
}

#lost {
  width: 100px;
  height: 100px;
}

#fir {
  width: 100px;
  height: 100px;
}

#missing {
  width: 100px;
  height: 100px;
}

#status {
  width: 100px;
  height: 100px;
}

#challan {
  width: 100px;
  height: 100px;
}

/* .updates-section {
  margin-top: 100px;
  text-align: center;
  width: 2000px;
  height: 1000px;

}

.updates-section-main {
  display: flex;
} */

/* slideshow */

* {box-sizing: border-box;}
      body {font-family: Verdana, sans-serif;}
      .mySlides {display: none;}
      img {vertical-align: middle;}
      
      /* Slideshow container */
      .slideshow-container {
        /* border: 20px solid rgb(187, 241, 206); */
        /* border-radius: 20px;
        border-style:solid; */
        max-width: 900px;
        position: relative;
        margin: auto;
      }
      
      /* Caption text */
      .text {
        color: white;
        font-size: 50px;
        padding: 8px 12px;
        position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;
        font-weight: 800;
          border-radius: 1em 0 1em 0;
          background-image: linear-gradient(
            -100deg,
            rgba(255, 20, 0, 0.2),
            rgba(255, 20, 0, 0.7) 95%,
            rgba(255, 20, 0, 0.1)
          );
        }

      }
      
      /* Number text (1/3 etc) */
      .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
      }
      
      /* The dots/bullets/indicators */
      .dot {
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
      }
      
      .active {
        background-color: #717171;
      }
      
      /* Fading animation */
      .fade {
        animation-name: fade;
        animation-duration: 1.5s;
      }
      
      @keyframes fade {
        from {opacity: .4} 
        to {opacity: 1}
      }
      
      /* On smaller screens, decrease text size */
      @media only screen and (max-width: 300px) {
        .text {font-size: 11px}
      }

      #image {
        filter: blur(1px);
      }

      #heading { 
        color: white;
        font-style: italic;
        text-align: center;
        font-size: 50px;
        width: 100%;
        content: " ";
  margin-left: -3px;
  margin-right: -3px;
  background: #2D4E30;
  border-radius: 5px;
  padding: 10px 3px 7px 10px;
      }

      .slideshow-main {
        background-color: #C8F0DB;
        border: 20px solid rgb(185, 230, 201);
        border-style:solid;
       
      }